@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

ol,
li {
    list-style: none;
    font-size: 17px;
}




.home__href::before {
    color: #68A47F;
}


.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 30px 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

.nav__list li {
    font-weight: 500;
}

.search-cart-container {
    display: flex;
    align-items: center;
}


.search-bar {
    width: 300px;
    height: 44px;
    padding: 0 0 0 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    border: none;
}

.search-bar input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
}

.search-bar .search-icon {
    width: 48px;
    height: 40px;
    background-color: #8FC4A9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 44px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 2px solid #E0E0E0;
    color: #2E465C;
    font-size: 16px;
    padding: 0 4px 1px 1px;
    cursor: pointer;
    font-family: sans-serif;
}

.cart-button .cart-icon {
    width: 41px;
    height: 40px;
    background-color: #2E465C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.cart-button .cart-icon svg {
    fill: white;
    width: 14px;
    height: 14px;
}

.search__img {
    width: 20px;
    height: 20px;
}

.savatcha__img {
    width: 20px;
    height: 20px;
}


.hero__section{
    width: 1535px;
    height: 670px;
    background-image: url(../image/Image.png);
    background-size: cover;
    margin-left: -107px;
    margin-top: -20px;
    background-color: #F1EFF0;

}

.hero__section--img__img {
    width: 200px;
    background-color: #2E465C;
}

.section__background {
    width: 1535px;
    height: 668px;
    background-image: url(../image/Background.png);
    background-size: cover;
    margin-left: -107px;
    margin-top: -41.8rem;
}

.hero__section-bacground {
    font-family: sans-serif;
    padding: 10rem 8rem;
}

.natural__food{
    font-family: 'Pacifico', cursive;
    color: #68A47F;
    font-size: 30px;
    font-weight: 500;
}

.choose__the {
    font-size: 65px;
    color: #274C5B;
}

.Explore__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: #EFD372;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
}

.Explore__button-span {
    margin-top: 7px;
}

.Explore__button-span img {
    height: 25px;
    width: 25px;
}